@import './resets';
@import './variables';

@function weight($weith-name) {
    @return map-get($font-weigths, $weith-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%)
    }
}

@mixin  mobile {
    @media (max-width: $mobile) {
       @content;
    }
}

body{
    background-color: $primary-color;
    color: $text-color;
}
.title{
    text-align: center;
    margin: 1rem 0;
}
.main{
    @include flexCenter(row);
    width: calc(80% - 40%);
    margin: 1rem auto;
    #{&}__paragraph1{
        font-weight: weight(bold);
        margin: 1rem;
        &:hover{
            color: pink;
        }
    }

    #{&}__paragraph2{
        @extend .main__paragraph1;

        &:hover{
            color: $accent-color;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}
.light{
    @include theme($light-theme: true)
}
